* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-size: 20px;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'marker felt';
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    width: 100%;
    height: 100%;
}
